<div class="flex-container">
  <% @status[:turns].times do %>
    <img class="heart" src="/images/pixel-heart.png" alt="hangman">
  <% end %>
</div>

<p class="secret-word">
  <%= @status[:hidden_word].join(" ") %>
</p>

<form action="/game" method="post">
  <input type="text" name="guess" maxlength="1" required="true" />
  <input type="submit" value="Submit" />
</form>