<img src="/images/main-menu-hangman.png" alt="Batman hangman">
<form class="main-menu" action="/game" method="POST">
  <input id="slider" type="range" min="4" max="10" value="5" name="word_length" autocomplete="off">
  <p>Word length: <span id="slider_val">5</span></p>
  <input class="btn play-btn" type="submit" value="Play Game">
</form>
<script src="/scripts/setting.js"></script>