<h2> You ran out of guesses </h2>
<h2 class="secret-word"> The word was <em><%= @status[:secret_word] %></em> </h2>

<form action="/" method"get">
  <input class="btn play-btn" type="submit" value="Play Again">
</form>